@font-face {
    font-family: "Degular Bold";
    src:url("fonts/degulardisplaydemo-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Degular Normal";
    src:url("fonts/degulardisplaydemo-medium-webfont.woff") format("woff");
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#999AFD;
}
.nav-link,
.navbar-brand {
    color: #fff;
    font-size: 28pt;
    font-family: 'Degular Bold';
    cursor: pointer;
    
}
.nav-link {
    font-size: 15pt;
    font-family: 'Degular Normal';
    margin-right: 1em ;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header{
    background-color:beige;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0 , 0.6);
}